@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --cor-primaria: #E7F0DC;
    --cor-secundaria: #729762;
    --cor-terciaria: #597445;

    --cor-hover-botao-descriptografar: #c0c0c0f1;

    --cor-footer: #99a88e;
    --cor-footer-hover: #45523c;

    --fonte-principal: "Inter", sans-serif;
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: var(--cor-terciaria);
    box-sizing: border-box;
    border: 0;
    font-family: var(--fonte-principal);
}

body {
    background-color: var(--cor-primaria);
}

header {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}

.botão-cor-da-pagina {
    height: 45px;
    width: 45px;
    background-color: var(--cor-secundaria);
    border-radius: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lua-icon {
    width: 30px;
    height: 30px;
}

.sol-icon {
    width: 30px;
    height: 30px;
    display: none;
}

main {
    margin: 10% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.conteiner-botao-e-aviso {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.conteiner-botoes-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.input-mensagem {
    background-color: var(--cor-primaria);
    width: 350px;
    height: 400px;
    font-size: 20px;
    padding: 10px 10px;
    resize: none;
    outline: none;
}

.conteiner-aviso {
    display: flex;
    gap: 8px;
}

button {
    width: 320px;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.botao-Criptografar {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
}

.botao-Criptografar:hover {
    background-color: var(--cor-secundaria);
}

.botao-Descriptografar {
    border: 2px solid var(--cor-terciaria);
}

.botao-Descriptografar:hover {
    background-color: var(--cor-hover-botao-descriptografar);
}

.img-garota {
    display: none;
}

.conteiner-resultado {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.conteiner-mensagem-informada {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.mensagem-decodificada {
    text-align: center;
    font-size: 20px;
    padding: 8px 8px;
    resize: none;
    outline: none;
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
}

.copiar-mensagem {
    border: 2px solid var(--cor-terciaria);
}

.copiar-mensagem:hover {
    background-color: var(--cor-hover-botao-descriptografar);
}

footer {
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
}

footer a {
    color: var(--cor-footer);
    font-weight: 700;
}

@media (min-width: 1000px) {
    
    header {
        margin: 10px 60px;
        align-items: center;
        justify-content: space-between;
    }

    main {
        margin: 2% 0;
        flex-direction: row;
        gap: 100px;
    }

    .conteiner-principal {
        display: flex;
        flex-direction: column;
        margin-left: 130px;
    }

    .input-mensagem {
        width: 700px;
        height: 400px;
    }

    .input-mensagem::-webkit-scrollbar {
        background-color: #72976200;
        width: 10px;
    }
    
    .input-mensagem::-webkit-scrollbar-thumb {
        background-color: var(--cor-terciaria);
        border-radius: 38px;
        cursor: pointer;
    }

    .conteiner-botoes-principal {
        flex-direction: row;
    }

    .conteiner-resultado {
        display: flex;
        background-color: var(--cor-secundaria);
        width: 25%;
        height: 480px;
        align-items: center;
        border-radius: 32px;
        gap: 200px;
    }

    .informacao-sem-mensagem {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    .img-garota {
        display: block;
        width: 280px;
        height: 300px;
    }

    .titulo-resultado {
        font-size: 16px;
        width: 200px;
        text-align: center;
    }

    .conteiner-mensagem-informada {
        width: 25%;
        height: 460px;
        display: none;
        justify-content: space-between;
    }
    
    .mensagem-resultado {
        width: 60%;
        font-size: 14px;
        text-align: center; 
    }

    .mensagem-decodificada  {
        word-break: break-all;
        margin-top: 10%;
        width: 280%;
        height: 380px;
        background-color: var(--cor-secundaria);
        color: var(--cor-primaria);
        font-size: 20px;
        padding: 20px 0;
        text-align: start;
    }

    .mensagem-decodificada::-webkit-scrollbar {
        background-color: #72976200;
        width: 10px;
    }
    
    .mensagem-decodificada::-webkit-scrollbar-thumb {
        background-color: var(--cor-primaria);
        border-radius: 38px;
        cursor: pointer;
    }

    .copiar-mensagem {
        width: 280px;
        height: 50px;
    }
}